html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  margin:0;
  padding:0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
  display:block;
}

body{
  line-height:1
}

ol,ul{
  list-style:none
}

blockquote,q{
  quotes:none
}

blockquote:before,blockquote:after,q:before,q:after{
  content:none
}

table{
  border-collapse:collapse;border-spacing:0
}

html {
  position:static!important;
  top:0!important;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  cursor:default;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s;-ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

h1 {font-size: 35px; font-weight: bold; margin-bottom: 70px; letter-spacing: -1px; color: #1b1f23;line-height: 45px;}
h2 {font-size: 28px; font-weight: bold; margin-bottom: 70px; letter-spacing: -1px; color: #303336; line-height:40px;}
h4 {font-size: 20px; font-weight: bold; margin-bottom: 27px; letter-spacing: -1px; color: #1b1f23}

.menu {padding:88px 20px 0; width: 100%; max-width: 940px; margin: 0 auto;}
.back {display: inline-block; float: right; font-size: 18px; border: 2px solid #f3f4f5; border-radius: 6px; text-decoration: none; color: black; padding:15px 22px; letter-spacing:0px}
.back:hover {background-color: #1b1f23; border: 2px solid #1b1f23; color: white; cursor:pointer} 
.back img{padding-right: 22px}
.back b {font-weight:bold;-webkit-transition: none;-moz-transition: none;-ms-transition: none;-o-transition: none;transition: none;}

.overview {max-width: 800px; margin: 0 auto;padding: 130px 20px;}
.samples {max-width: 800px; margin: 0 auto; padding: 130px 20px}
.gray-wrapper {background-color: #f2f2f1;}
.components {max-width: 800px; margin: 0 auto; padding: 130px 20px;}
.cc {max-width: 800px; margin: 0 auto; padding: 130px 0;text-align:center;}
.cc img {margin-bottom:45px; }
.cc h2 a {color:#303336; border-bottom:1px solid #cbcbcb;text-decoration: none;}
.cc h2 a:hover { opacity:0.8; }

.logo {display: inline-block; margin-top:16px;}
.article-content {line-height: 36px; font-size: 20px; color: #636F70}
.features {padding-top: 45px;}
.features img {padding-bottom: 44px;max-width:100%;}
.features li {width: 230px;display: inline-block;margin-right: 18px;padding:19px 19px;position: relative;left: -23px;border:4px solid rgba(191,191,186,0);vertical-align: top;}
.features li:last-child {margin-right:0;}
.features p {font-size: 16px; line-height: 26px; color:#696f6f;margin-bottom: 7px;}
.features a {line-height: 32px; color:#1b1f23; text-decoration:none;border-bottom:1px solid #cbcbcb;}
.features a:hover { color:#35d0b5 }

.grab a {display:block;background-color:#35d0b5; padding: 46px;font-weight:200;font-size: 40px; color: white; text-decoration:none; letter-spacing:-1px;text-align:center;}
.grab strong { font-weight:700;}
.grab a:hover {background-color: #e74c3c;}

.footer { font-size:14px;color:#696f6f;padding:75px 0; text-align:center; max-width:940px; margin: 0 auto;line-height:26px;}
.footer a { color:#1b1f23; text-decoration:none;border-bottom: 1px solid #cbcbcb;}
.footer a:hover { color:#35d0b5;}

@media screen and (max-width: 840px) {
.features li { left:0; padding:23px 0; border-width:0px; width: 32%; margin:0 0 1%; }
.samples li:last-child {height:auto;margin:0;}
.samples, .components, .images, .cc { padding: 85px 20px;}
h1 {margin-bottom: 50px;}
}

@media screen and (max-width: 768px) {
.features li { padding:23px 10px 0 0; }
}

@media screen and (max-width: 568px) {
.samples, .overview, .components, .images, .cc { padding: 50px 20px;}
h1 { margin-bottom: 30px;}
h2 {font-size: 24px;margin-bottom: 47px;line-height: 35px;}
}

@media screen and (max-width: 480px) {
.features li { display:block;width:100%;}
.features img { width:auto;}	 
.menu { padding: 0;text-align: center;}
.logo { padding: 40px 20px; }
.back { display: block; float: none; border-radius:0; border-right-width:0; border-left-width:0px;border-top-width:0px; }
.grab a { font-size: 30px } 
.shares iframe { display:block;margin: 15px auto;}
}

.MT30 {
  margin-top: 30px;
}
