body, html {
	height: 100%;
	width: 100%;
}

body {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

.dripr-intro-header {
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	color: #fff;
	background: url(./images/intro-bg.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
}

.dripr-intro-message {
	position: relative;
	padding-top: 20%;
	padding-bottom: 20%;
}

.dripr-intro-message h1 {
	margin: 0;
	font-size: 5em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.dripr-intro-message h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.dripr-content-section {
  background-color: #fff;
  padding: 50px 0;
}

@media (max-width: 767px) {
	.dripr-intro-message {
		padding-bottom: 15%;
	}

	.dripr-intro-message > h1 {
		font-size: 3em;
	}

}

footer {
	background-color: #f8f8f8;
	padding: 50px 0;
}

p.copyright {
	margin: 15px 0 0;
}