<div class="wrap">

<div class="content">
  <div class="overview">
    <h1 class=" text-center">Dripr</h1>
    <p class="article-content text-center">Tumblrで美しい企業サイト</p>
  </div>

  <div class="grab">
    <a href="#edit"><strong>Start Dripr </strong> for free</a>
  </div>
 
  <div class="gray-wrapper">
    <div class="components container">
      <h1>What is Dripr?</h1>
      <p class="article-content">またこう五人は応からあるば、毎号からやはりすれたないと云わと、面白いでしょれとまた今真似のきまっないた。</p>
      <div class="video text-center">
        <img src="http://dummyimage.com/600x400/000/fff" alt="" />
      </div>
    </div>
  </div>
 

  <div class="components">
    <div class="container">
      <h1>Infomation</h1>
      <p class="article-content">五人は応からあるば、毎号からやはりすれたないと云わと、面白いでしょれとまた今真似のきまっないた。</p>
      <div class="row MT30">
        <div class="col-sm-6">
            <h4>アップデート予定</h4>
            <ul>
              <li>複数ページに対応</li>
              <li>アイキャッチパターンを追加</li>
              <li>テンプレートの追加</li>
              <li>リモートアップデート</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h4>新着情報</h4>
            <ul>
              <li>2014.4.18 リリースしました</li>
            </ul>
        </div>
      </div>
    </div>
  </div>

<div class="footer">
  <p>Copyright 2014 © <a href="http://hokuken.com/">hokuken inc</a>. All Rights Reserved.</p>
  <p>Presentation of <a href="http://toiee.jp">toiee.jp</a>.</p>
</div>
 
</div>
</div>
