<div class="dripr-intro-header">
  <a class="dripr-intro-image" href="#"><i class="re-icon re-image"></i></a>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="dripr-intro-message">
          <textarea id="redactor_intro" name="intro">
            <h1>Title</h1>
            <p>sit amet, consectetur adipisicing elit, <br>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </textarea>
        </div>
      </div>
    </div>
  </div>
</div>
	
<div class="dripr-content-section">
	<div class="container">
		<textarea id="redactor_content" name="content">
			<h2>Hello and Welcome</h2>
			<p>Lorem ipsum <a href="http://test.com" title="dolor">dolor</a> sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing <b>elit, sed do eiusmod tempor incididunt</b> ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</textarea>
	</div>
</div>

<footer>
	<div class="container">
	  <div class="row">
	    <p class="copyright text-muted small">Copyright © Your Company 2013. All Rights Reserved</p>
	  </div>
	</div>
</footer>


<!-- Dripr Modal HTML -->
<div id="dripr_file_modal" class="dripr-modal">
	<div class="dripr-modal-header">
		<label>Select Background Image</label>
  </div>
  <div class="dripr-modal-inner">
    select background image
	</div>
	<div class="dripr-modal-footer">
		<button id="dripr_filer_insert" class="redactor_modal_btn redactor_modal_action_btn">Change</button>
		<button class="redactor_modal_btn redactor_btn_modal_close">Close</button>
	</div>
</div>
